In [1]:
# 1. Привести различные способы создания объектов типа Series
# Для создания Series можно использовать
# - списки Python или массивы NumPy
# - скалярные значение
# - словари

In [5]:
import pandas as pd
import numpy as np

s1 = pd.Series([10,20,30,40])

arr = np.array([5, 6, 7])
s2 = pd.Series(arr)

In [7]:
print(s1)
print(s2)

0    10
1    20
2    30
3    40
dtype: int64
0    5
1    6
2    7
dtype: int32

In [9]:
s3 = pd.Series(5, index = ['a', 'b', 'c'])
s4 = pd.Series(5)

In [11]:
print(s3)
print(s4)

a    5
b    5
c    5
dtype: int64
0    5
dtype: int64

In [28]:
dict_A = {'a':10, 'b':20, 'c':30}
s5 = pd.Series(dict)

s6 = pd.Series(dict, index = ['b', 'c', 'd'])

In [30]:
print(s5)
print(s6)

a    10
b    20
c    30
dtype: int64
b    20.0
c    30.0
d     NaN
dtype: float64

In [17]:
# 2. Привести различные способы создания объектов типа DataFrame
# DataFrame. Способы создания
# - через объекты Series
# - списки словарей
# - словари объектов Series
# - двумерный массив NumPy
# - структурированный массив Numpy

In [24]:
s21 = pd.Series([1,2,3], name = 'A')
s22 = pd.Series(['x','y','z'], name = 'B')
df = pd.DataFrame({'Column1':s21,'Column2':s22})

In [26]:
print(s21)
print(s22)
print(df)

0    1
1    2
2    3
Name: A, dtype: int64
0    x
1    y
2    z
Name: B, dtype: object
   Column1 Column2
0        1       x
1        2       y
2        3       z

In [48]:
data_B = [
    {'Name':'Pedro', 'Age': 20},
    {'Name':'Barbara', 'Age': 18},
    {'Name':'Sonya', 'Age':45}
]
df_2 = pd.DataFrame(data_B)

In [50]:
print(df_2)

      Name  Age
0    Pedro   20
1  Barbara   18
2    Sonya   45

In [60]:
data_C = {
    'Name': ['Pedro', 'Barbara', 'Sonya'],
    'Age': [20,18,45],
    'Country' : ['St.Petersburg', 'Moscow', 'Lisbon']
}
df_3 = pd.DataFrame(data_C)

In [62]:
print(df_3)

      Name  Age        Country
0    Pedro   20  St.Petersburg
1  Barbara   18         Moscow
2    Sonya   45         Lisbon

In [66]:
arr_2 = ([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
df_4 = pd.DataFrame(arr_2, columns = ['A', 'B', 'C'])

In [68]:
print(df_4)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [84]:
type = [('Name', 'U10'), ('Age', 'i4'), ('Sity', 'U10')]
data_3 = np.array(
    [('Pedro', 20, 'Santiago'), ('Barbara', 213456, 'Brazilia'), ('Sonya', 19, 'Mexico-City')],
    dtype = type
)
df_5 = pd.DataFrame(data_3)

In [86]:
print(data_3)
print(df_5)

[('Pedro',     20, 'Santiago') ('Barbara', 213456, 'Brazilia')
 ('Sonya',     19, 'Mexico-Cit')]
      Name     Age        Sity
0    Pedro      20    Santiago
1  Barbara  213456    Brazilia
2    Sonya      19  Mexico-Cit

In [104]:
s23 = pd.Series([1,2,3], index = ['A', 'B', 'C'], name = 'first')
s24 = pd.Series([4,5,6], index = ['A', 'B', 'C'], name = 'second')
df_6 = pd.DataFrame([s23,s24])

In [106]:
print(s23)
print(s24)
print(df_6)

A    1
B    2
C    3
Name: first, dtype: int64
A    4
B    5
C    6
Name: second, dtype: int64
        A  B  C
first   1  2  3
second  4  5  6

In [108]:
# 3. Объедините два объекта Series с неодинаковыми множествами ключей (индексов) так, чтобы вместо NaN было установлено значение 1

In [148]:
s31 = pd.Series([10,20,30], index = ['A', 'B', 'C'])
s32 = pd.Series([40,50], index = ['B', 'D'])
combined = s31.add(s32, fill_value = 1)

In [152]:
print(combined)

A    11.0
B    60.0
C    31.0
D    51.0
dtype: float64

In [154]:
# 5. На примере объектов DataFrame продемонстрируйте использование методов ffill() и bfill()

In [166]:
data_5 = {
    'A': [1, np.nan,np.nan],
    'B': [np.nan, 2, np.nan,],
    'C': [np.nan,np.nan,3]
}
df_51 = pd.DataFrame(data_5)

In [162]:
print('Original DataFrame')
print(df_51)

Original DataFrame
     A    B    C
0  1.0  NaN  NaN
1  NaN  2.0  NaN
2  NaN  NaN  3.0

In [177]:
ffilled_rows = df_51.ffill(axis = 0)
print(ffilled_rows)

     A    B    C
0  1.0  NaN  NaN
1  1.0  2.0  NaN
2  1.0  2.0  3.0

In [179]:
ffilled_cols = df_51.ffill(axis = 1)
print(ffilled_cols)

     A    B    C
0  1.0  1.0  1.0
1  NaN  2.0  2.0
2  NaN  NaN  3.0

In [185]:
bfilled_rows = df_51.bfill(axis = 0)
print(bfilled_rows)

     A    B    C
0  1.0  2.0  3.0
1  NaN  2.0  3.0
2  NaN  NaN  3.0

In [187]:
bfilled_cols = df_51.bfill(axis = 1)
print(bfilled_cols)

     A    B    C
0  1.0  NaN  NaN
1  2.0  2.0  NaN
2  3.0  3.0  3.0

In [191]:
combined = df_51.bfill(axis = 0).ffill(axis = 0)
print(combined)

     A    B    C
0  1.0  2.0  3.0
1  1.0  2.0  3.0
2  1.0  2.0  3.0